<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<center><h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseOne">
					最新文章
				</a>
			</h4></center>
            
		</div>

	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h4 class="panel-title">
				<center><a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseTwo">
					最热文章
				</a></center>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred 
				nesciunt sapiente ea proident. Ad vegan excepteur butcher vice 
				lomo.
			</div>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title">
				<center><a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseThree">
					最热作者
				</a></center>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred 
				nesciunt sapiente ea proident. Ad vegan excepteur butcher vice 
				lomo.
			</div>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h4 class="panel-title">
				<center><a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseFour">
                    最新资讯
				</a></center>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse">
			<div class="panel-body">
				Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred 
				nesciunt sapiente ea proident. Ad vegan excepteur butcher vice 
				lomo.
			</div>
		</div>
	</div>
</div>